---
title: Example
description: This is the home page.
---

<section class="home-page">
  <div class="home-page-left">
    <div class="home-page-left-items">
      <div class="gencol-logo">
        <img src="./img/logo.png" alt="">
      </div>
      <div class="tariff">
        <div class="tariff-image">
          <img src="/img/heart.png" alt="">
        </div>
        <div class="tariff-text">we love discount tariff</div>
      </div>
      <div class="side-buttons">
        <button type="button">Categories</button>
        <button type="button">Be a Partner</button>
      </div>
      <div class="side-stores">
        <img src="/img/appstore.png" alt="">
        <img src="/img/playstore.png" alt="">
      </div>
      <div class="social-media">
        <div class="language-selection">
          <ul>
            <a href="#">AZE <span><img src="/img/drop-down-arrow.png" /></span></a>
            <li><a href="#">ENG</a></li>
            <li><a href="#">RUS</a></li>
          </ul>
        </div>
        <div class="social-media-buttons">

        </div>
      </div>
    </div>
  </div>
  <div class="home-page-right">
    <div class="left-side">

    </div>
    <div class="right-side">

    </div>
  </div>
</section>
